[project]
	description = Numenta Platform for Intelligent Computing: a brain-inspired machine intelligence platform, and biologically accurate neural network based on cortical learning algorithms.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paolo Gavazzi (pgavazzi)
[access "refs/for/refs/*"]
	read = group user/Paolo Gavazzi (pgavazzi)
	push = group user/Paolo Gavazzi (pgavazzi)
	label-Code-Review = -2..+2 group user/Paolo Gavazzi (pgavazzi)
	label-Verified = -1..+1 group user/Paolo Gavazzi (pgavazzi)
	rebase = group user/Paolo Gavazzi (pgavazzi)
	removeReviewer = group user/Paolo Gavazzi (pgavazzi)
	submit = group user/Paolo Gavazzi (pgavazzi)
[access "refs/heads/*"]
	read = group user/Paolo Gavazzi (pgavazzi)
	create = group user/Paolo Gavazzi (pgavazzi)
	push = +force group user/Paolo Gavazzi (pgavazzi)
	pushMerge = group user/Paolo Gavazzi (pgavazzi)
[access "refs/tags/*"]
	push = +force group user/Paolo Gavazzi (pgavazzi)
	pushTag = group user/Paolo Gavazzi (pgavazzi)
	pushSignedTag = group user/Paolo Gavazzi (pgavazzi)
